# Lecture 08의 데모

### Lecture 08의 데모에 대한 코드

참고자료: 

https://github.com/data-8/materials-sp22/blob/main/lec/lec11.ipynb

https://github.com/data-8/materials-sp22/blob/main/lec/lec12.ipynb

In [ ]:
import os
from google.colab import drive

drive.mount('/content/gdrive')

%cd /content/gdrive/MyDrive/ITEC419-fa22/lec

Mounted at /content/gdrive
/content/gdrive/MyDrive/ITEC419-fa22/lec

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Grouping by One Column

In [ ]:
# From https://www.kaggle.com/code/sanjanabasu/tips-dataset
tips = Table.read_table('tips.csv')
tips

total_bill | tip  | sex    | smoker | day  | time   | size
16.99      | 1.01 | Female | No     | Sun  | Dinner | 2
10.34      | 1.66 | Male   | No     | Sun  | Dinner | 3
21.01      | 3.5  | Male   | No     | Sun  | Dinner | 3
23.68      | 3.31 | Male   | No     | Sun  | Dinner | 2
24.59      | 3.61 | Female | No     | Sun  | Dinner | 4
25.29      | 4.71 | Male   | No     | Sun  | Dinner | 4
8.77       | 2    | Male   | No     | Sun  | Dinner | 2
26.88      | 3.12 | Male   | No     | Sun  | Dinner | 4
15.04      | 1.96 | Male   | No     | Sun  | Dinner | 2
14.78      | 3.23 | Male   | No     | Sun  | Dinner | 2
... (234 rows omitted)

## List

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price'])

Drink | Cafe | Price

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada', 1.75],
    ['Latte', 'Strada', 3.25],
    ['Espresso', 'FSM', 2]
])
drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

## Group with two columns

In [ ]:
tips

total_bill | tip  | sex    | smoker | day  | time   | size
16.99      | 1.01 | Female | No     | Sun  | Dinner | 2
10.34      | 1.66 | Male   | No     | Sun  | Dinner | 3
21.01      | 3.5  | Male   | No     | Sun  | Dinner | 3
23.68      | 3.31 | Male   | No     | Sun  | Dinner | 2
24.59      | 3.61 | Female | No     | Sun  | Dinner | 4
25.29      | 4.71 | Male   | No     | Sun  | Dinner | 4
8.77       | 2    | Male   | No     | Sun  | Dinner | 2
26.88      | 3.12 | Male   | No     | Sun  | Dinner | 4
15.04      | 1.96 | Male   | No     | Sun  | Dinner | 2
14.78      | 3.23 | Male   | No     | Sun  | Dinner | 2
... (234 rows omitted)

## Pivot Tables

## Discussion Questions

In [ ]:
sky = Table.read_table('skyscrapers.csv')
sky = (sky.with_column('age', 2022 - sky.column('completed'))
            .drop('completed'))
sky.show(3)

In [ ]:
# 1. For each city, what's the tallest building for each material?

In [ ]:
# 2. For each city, what's the height difference between the tallest
#    steel building and the tallest concrete building?

In [ ]:
# 3. Generate a table of the names of the oldest buldings for each
#    material for each city.

## Joins

하나의 카페에서 두 개의 음료를 구입한다면, 동일 table의 동일 'Cafe'로 join하면 새로운 table을 생성할 수 있다.

동일한 column label이 있기 때문에 두번째 것은 "_2"가 레이블에 붙게 된다.

### A Join Example

In [ ]:
full = Table.read_table('nc-est2019-agesex-res.csv')
census = full.select('SEX', 'AGE', 'POPESTIMATE2019')
census.show(6)

In [ ]:
sex_codes = Table().with_columns(
    'SEX CODE', make_array(0, 1, 2),
    'CODE DEFINITION', make_array('All', 'Selected Male', 'Selected Female')
)
sex_codes

SEX CODE | CODE DEFINITION
0        | All
1        | Selected Male
2        | Selected Female

## Bike Sharing

In [ ]:
trip = Table.read_table('trip.csv')
trip.show(3)

### Distribution of Durations

### Start and End Stations

In [ ]:
# Most common start station

In [ ]:
# Numbers of trips between stations

In [ ]:
# Average durations of trips between stations

### Fastest Trips between Stations

How can we find the fastest trip ever between each pair of stations?

### Discussion question

Find the 5 stations closest to Civic Center BART by minimum trip time.

In [ ]:
cc = 'Civic Center BART (7th at Market)'

### Maps

In [ ]:
# From https://www.kaggle.com/datasets/benhamner/sf-bay-area-bike-share?select=station.csv
# Geographical data on the stations
stations = Table.read_table('station.csv').drop(4, 6)
stations.show(3)

In [ ]:
sf_stations = stations.where('city', 'San Francisco')
sf_stations_map_data = (sf_stations
                        .select('lat', 'long', 'name')
                        .relabeled('name', 'labels'))
sf_stations_map_data.show(3)

### Discussion question

Map all stations within 4 minutes (minimum ride time) of Civic Center.